.bg-darkgrey {
  background-color: #a9a9a9;
}

.bg-silver {
  background-color: #c0c0c0;
}

.bg-lightgray {
  background-color: #d3d3d3;
}

.bg-gainsboro {
  background-color: #dcdcdc;
}

.chart {
  width: 100%;
  min-height: 450px;
}

/* svg {
  width: 100%;
  max-height: 100%;
} */
